@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body, 
input, 
textarea {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

h1 {
	font-size: 20px;
	line-height: 34px;
	font-weight: 700;
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p,ol,ul {
	margin-bottom: 10px;
}

b, strong {
	font-weight: 700;
}

i, emphasis {
	font-style: italic;
}

a:link, a:visited {}

a:hover {}

hr {}

img {}