@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

body {
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
}

h1 {
	font-weight: 700;
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p,ol,ul {}

b, strong {
	font-weight: 700;
}

i, emphasis {
	font-style: italic;
}

a:link, a:visited {}

a:hover {}

hr {}

img {}