<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="UTF-8">

		<title>HM C.R.O.</title>

		<meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- Tile icons for iOS -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="img/touch/touch-icon-196x196.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">

        <!-- For iOS web apps.  -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">

		<!-- Styles and design  -->
		<link rel="stylesheet" href="/css/app.css">
		
		<!-- Include Modernizer to detect browser features  -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

		<!-- Include vue.js   -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46847953-4"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-46847953-4');
		</script>
	</head>

	<body>

		<div id="app">

			<div v-if="state == 'welcome'" class="welcome">

				<h1>HM Citizen Rotation Office</h1>

				<p>This tour has been generated automatically based on existing citizen profile data. By enrolling into the Citizen Rotation Office each citizen acknowledges that  all data recorded on any public  or private device, whilst inside  and travelling to and from assigned locations may be  used to improve their experience of the city.</p>
				<p>Continue if you accept that apart from Google Analytics, no other personal data is recorded during your tour, everything is simulated.</p>

				<button v-on:click="state = 'requirements'">Start real-time tour</button>
				<a href="https://audio.hmcro.org">See audio only</a>
				<a v-on:click.stop="state = 'privacy'" href="#">Privacy</a>
		
			</div>

			<div v-if="state == 'requirements'" class="requirements">

				<p>Real-time tour requirements:</p>

				<ul>

					<li>In order to experience the real-time tour you must begin outside the Angel Underground Station.</li>
					<li>You will be expected to follow the route generated for you.</li>
					<li>The tour will terminate at the Barbican centre.</li>
					<li>The real-time tour requires access to your location and internet access, so the correct audio files can play.</li>
					<li>You cannot use an incognito browser and must allow access to your location whilst using the app.</li>
				</ul>

				<button v-on:click="state = 'map'">I'm outside Angel Underground Station</button>
				<button v-on:click="state = 'welcome'">Cancel</button>
		
			</div>

			<div v-if="state == 'map'" class="map">

				<a v-on:click.stop="state = 'welcome'">MAP</a>

				<div class="player">
					<h2>Playing {{audioName}}.mp3</h2>
					<button v-on:click="toggleAudio()">
						<span v-if="isPlaying">Stop</span>
						<span v-else>Play</span>
					</button>
					{{currentTime}}s/{{totalTime}}s ({{progress}}%)
				</div>

			</div>

			<div v-if="state == 'privacy'" class="privacy">

					<h1>Privacy policy</h1>
	
					<button v-on:click="state = 'welcome'">Accept</button>
			
				</div>

		</div>

		<script src="js/app-min.js"></script>

	</body>

</html>