<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="UTF-8">

		<title>HM C.R.O.</title>

		<meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no, minimal-ui">
        <meta http-equiv="cleartype" content="on">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- Tile icons for iOS -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="img/touch/touch-icon-196x196.png">
		<link rel="shortcut icon" href="img/touch/apple-touch-icon.png">
		
        <!-- Tile icon for Win8 -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">

        <!-- For iOS web apps.  -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">

		<!-- Styles and design  -->
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
		<link href="/css/app.css" rel="stylesheet" />
		
		<!-- Include Modernizer to detect browser features  -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

		<!-- Include truf.js to measure distances -->
		<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

		<!-- Include mapbox.js   -->
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>

		<!-- Include vue.js   -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46847953-4"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-46847953-4');
		</script>
	</head>

	<body>

		<div id="app">

			<div class="js-error">

				<p>You must enable Javacript to view this website.</p>

			</div>

			<div v-if="state == 'welcome'" class="welcome">

				<div class="welcome-inner">

					<img src="/img/hmcro-logo.svg" alt="HM Citizen Rotation Office" class="logo">

					<div class="welcome-text">

						<p>This tour has been generated for you automatically based on your existing citizen profile data. By enrolling into the Citizen Rotation Office you acknowledge that any data recorded on any public or private device, whilst inside and travelling to and/or from assigned locations may be used to improve your experience of the city.</p>

					</div>				

					<div class="welcome-buttons">
						
						<div v-if="!audioSupported">
							<button class="button" disabled>Audio cannot play, please try a different device</button>
						</div>
						<div v-else-if="!geolocationSupported">
							<button class="button" disabled>Your location cannot be used</button>
							<button v-on:click="link('https://audio.hmcro.org')" class="button">Audio only</button>
						</div>					
						<div v-else>
							<button v-on:click="goto('requirements')" class="button">Continue</button>
						</div>
						
						<p>You agree to the <a v-on:click.stop="goto('privacy')" href="#">privacy policy</a>.</p>

					</div>					

				</div>
		
			</div>

			<div v-if="state == 'requirements'" class="requirements">

				<div class="requirements-inner">

					<p>Requirements:</p>

					<ul class="requirements-list">
						<li>This audio tour will begin outside the Angel Underground Station.</li>
						<li>This audio tour will terminate at the Barbican centre.</li>
						<li>This audio tour requires access to your location.</li>
						<li>To discover your best experience of the city you are expected to follow the route generated for you.</li>
					</ul>
	
					<div class="requirements-buttons">

						<button v-on:click="goto('map')" class="button">Start audio tour</button>
						<button v-on:click="goto('welcome')" class="button">Cancel</button>

					</div>
					

				</div>
		
			</div>

			<div v-if="state == 'map'" class="map">

				<div class="map-header">
					<div class="map-header-inner">
						<img src="/img/hmcro-logo.svg" alt="HM Citizen Rotation Office" class="logo">
					</div>					
				</div>
				

				<div id='map'></div>

				<div v-if="isPlaying" class="player">
					<h2>Playing {{audioName}}.mp3</h2>
					<button v-on:click="toggleAudio()">
						<span v-if="isPlaying">Stop</span>
						<span v-else>Play</span>
					</button>
					{{currentTime}}s/{{totalTime}}s ({{progress}}%)
				</div>

			</div>

			<div v-if="state == 'privacy'" class="privacy">

				<div class="privacy-inner">

					<h1>Privacy policy</h1>

					<button v-on:click="goto('welcome')" class="button">Accept</button>

				</div>
		
			</div>

		</div>

		<script src="js/app-min.js"></script>

	</body>

</html>